.btn-download1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 200px;
  height: 40px;
  left: 470px;
  top: 530px;
  background: #9dbaf3;
  color: white;
  font-size: 16px;
  border: 1px solid #9dbaf3;
  border-radius: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

.btn-download1:hover {
  box-shadow: 0 0 4px rgb(10, 10, 10);
  transition: 0.3s;
}

.btn-download2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 200px;
  height: 40px;
  left: 692px;
  top: 530px;
  background: #9dbaf3;
  color: white;
  font-size: 16px;
  border: 1px solid #9dbaf3;
  border-radius: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

.btn-download1:hover {
  box-shadow: 0 0 4px rgb(10, 10, 10);
  transition: 0.3s;
}
