.my-book {
    position: absolute;
    width: 870px;
    height: 500px;
    left: 70px;
    top: 250px;
  
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(73, 71, 71, 0.25);
    border-radius: 24px;
  }
  
  .title-my-book {
    position: absolute;
    left: 6%;
    top: 33%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    width: fit-content;
    margin-right: 0;
  }
  
  .title-save {
    position: absolute;
    left: 20%;
    top: 33%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
 
  }
  
  .download-book {
    position: absolute;
    left: 650px;
    top: 20px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 20px;
  }
  
  .data-person {
    position: absolute;
    width: 330px;
    height: 500px;
    left: 1100px;
    top: 250px;
  
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(73, 71, 71, 0.25);
    border-radius: 24px;
  }
  
  .card-book1 {
    position: absolute;
    background: #ebf5ff;
    border-radius: 8px;
    overflow: hidden;
    width: 220px;
    height: 336.4px;
    left: 80px;
    top: 80px;
  }
  
  .card-top h1 {
    font-size: 1rem;
    margin: 10 15px;
    display: flex;
    justify-content: space-around;
  }
  
  .card-top > img {
    position: relative;
    width: 200px;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
    top: 9px;
    left: 10px;
    display: flex;
    justify-content: space-around;
  }
  
  .card-bottom {
    padding: 10px 20px;
  }
  
  .btn-read {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 135px;
    height: 30px;
    top: 282px;
    font-size: 14px;
    color: white;
    border: 1px solid #9dbaf3;
    background-color: #9dbaf3;
    border-radius: 7px;
    transition: 0.3s;
  }
  
  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 275px;
    margin-left: 153px;
    font-size: 15px;
  }
  
  .star {
    position: relative;
    margin-left: 165px;
    bottom: 15px;
  }
  
  .new {
    position: relative;
    margin-top: 440px;
    margin-right: 1300px;
  }
  
  .card-book2 {
    position: absolute;
    background: #ebf5ff;
    border-radius: 8px;
    overflow: hidden;
    width: 220px;
    height: 336.4px;
    left: 330px;
    top: 80px;
  }
  
  .card-book3 {
    position: absolute;
    background: #ebf5ff;
    border-radius: 8px;
    overflow: hidden;
    width: 220px;
    height: 336.4px;
    left: 580px;
    top: 80px;
  }
  
  .person {
    position: absolute;
    left: 60px;
    top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* border: 2px solid #9dbaf3; */
  }
  
  .edit-prof {
    position: absolute;
    left: 77%;
    top: 50%;
  }
   .logout{
    width: 20px;
    height: 18px;
    position: absolute;
    left: 87%;
    top: 50%;
   }
  .line {
    position: absolute;
    width: 328px;
    height: 0px;
    top: 400px;
    border: 1px solid #9dbaf3;
  }
  
  .data-title {
    margin-left: 60px;
  margin-top: 95%;
    font-size: 16px;
  }
  
  .data-title2 {
    font-weight: 600;
  }
  
  .history-search {
    position: relative;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 17px;
    color: #0f5ed5;
    top: 320px;
    left: 80px;
  }
  
  .time-history {
    position: absolute;
    left: 66%;
    top: 32.6%;
  }
  
  .title-his {
    position: relative;
    top: 310px;
    left: 80px;
  }
  
  .title-his1 {
    font-weight: 500;
  }